---
import FunLink from "../../components/FunLink.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<script>
	import gsap from "gsap";
	import { Power2, Power3, Power4, Linear } from "gsap";

	const images = [
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%201%20-%20casablanca",
		"https://i.scdn.co/image/ab67616d0000b273ef257882db8c9f4b078afc98",
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%202%20-%20a%20few%20good%20men",
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%203%20-%20breaking%20bad",
		"https://i.scdn.co/image/ab67616d0000b27347cfffa8f1d84c57d613c714",
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%204%20-%20there%20will%20be%20blood",
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%205%20-%20spirited%20away",
		"https://i.scdn.co/image/ab67616d0000b2736ca5c90113b30c3c43ffb8f4",
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%206%20-%20House%20of%20the%20Dragon",
		"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%207%20-%20The%20Godfather",
	];

	// amount of pixels mouse must move to generate new tile
	const cutoff = 64;
	// maximum number of images that can be on the screen at a time
	const maxImgCount = 20;

	// store clients X and Y in state
	let currX: number = 0;
	let currY: number = 0;
	let imgCount: number = 0;
	let currImg: number = 0;

	const pageWrapper = document.querySelector(".MoreMePage");

	const fadeOutFunc = () => {
		let imgTl = gsap.timeline({ duration: 0.2, delay: 0.2 });
		imgTl.to(pageWrapper.querySelector(".imgTile"), {
			opacity: 0,
			transform: `rotate(0deg) translateX(-50%) translateY(-50%)`,
			ease: Power2.easeIn,

			onComplete: () => {
				pageWrapper.removeChild(pageWrapper.querySelector(".imgTile"));
				imgCount--;
			},
		});
	};

	pageWrapper.addEventListener("mousemove", (e: MouseEvent) => {
		if (
			Math.abs(currX - e.clientX) > cutoff ||
			Math.abs(currY - e.clientY) > cutoff
		) {
			if (imgCount > maxImgCount) {
				fadeOutFunc();
			}

			const newImg = document.createElement("img");
			newImg.setAttribute("src", images[currImg]);
			newImg.classList.add("imgTile");

			pageWrapper.appendChild(newImg);

			currX = e.clientX;
			currY = e.clientY;
			imgCount++;
			currImg = (currImg + 1) % images.length;

			// this timeline makes the images fade in
			let imgTl = gsap.timeline({ duration: 0.3 });
			imgTl.fromTo(
				newImg,
				{
					opacity: 0,

					left: `${e.clientX}px`,
					top: `${e.clientY}px`,
					transform: `translateX(-50%) translateY(-50%)`,
				},
				{
					// autoAlpha: 1,
					opacity: 0.7,
					transform: `rotate(${
						(e.movementX / window.innerWidth) * 180
					}deg) translateX(-50%) translateY(-50%)`,
					ease: Power2.easeOut,
				}
			);
		}
	});

	setInterval(() => {
		if (imgCount > 0) {
			fadeOutFunc();
		}
	}, 1000);
</script>

<PageLayout title="more.me." className="MoreMeWrapper">
	<div class="MoreMePage">
		<div class="MoreMePage__grid1"></div>
		<div class="MoreMePage__grid2">
			<div class="MoreMePage__p1">
				<div class="MoreMe__row">
					<span>
						It's a no-brainer that I
						<FunLink href="https://github.com/elijahthis">
							write code
						</FunLink>.<br />
					</span>
				</div>
				<div class="MoreMe__row">
					<span>What else?</span>
				</div>
			</div>
		</div>
		<div class="MoreMePage__grid3">
			<div class="MoreMePage__p2">
				<div class="MoreMe__row--left">
					<span>I watch movies.<br /></span>
				</div>
				<div class="MoreMe__row--left">
					<span>
						I listen to <FunLink href="/">music</FunLink>.<br />
					</span>
				</div>
			</div>
			<div class="MoreMe__row--left">
				<span>
					I fiddle with my ukulele.
					<br />
				</span>
			</div>
			<div class="MoreMe__row--left">
				<span>
					I'm a <FunLink href="https://www.arsenal.com/">Gunner</FunLink>.
					<br />
				</span>
			</div>
			<div class="MoreMe__row--left">
				<span>I fold paper.<br /></span>
			</div>
			<div class="MoreMe__row--left">
				<span>I sleep like the dead.<br /></span>
			</div>
			<!--- -No pics for you ---->
			<div class="MoreMe__row--left">
				<span>I read fiction.<br /></span>
			</div>
			<div class="MoreMe__row--left">
				<span>I write <FunLink href="/">non-fiction</FunLink>.</span>
			</div>
		</div>
	</div>
</PageLayout>

<style lang="scss">
	@import "../../styles/variables";

	.MoreMePage {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		width: 100%;
		position: relative;

		* {
			z-index: 2;
		}

		p {
			color: $main-light;

			a {
				color: $sec-light;
				transition: all 0.35s;

				&:hover {
					color: $tertiary_col;
				}
			}
		}

		&__grid2 {
			padding-left: 50vw;
			color: $main-light;
		}

		&__grid3 {
			padding-right: 50vw;
			color: $main-light;
			* {
				text-align: right;
			}
		}

		.MoreMe__row,
		.MoreMe__row--left {
			overflow-x: hidden;
			& > span {
				display: block;
			}
		}

		.imgTile {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 300px;
			height: 300px;
		}
	}
</style>
