---
import Layout from "../layouts/Layout.astro";
import Home from "../sections/Home.astro";
import Contact from "../sections/Contact.astro";
import Work from "../sections/Work.astro";
import MoreMe from "../sections/MoreMe.astro";
import Sidebar from "../components/Sidebar.astro";
import PreLoader from "../components/PreLoader.astro";
---

<script>
	// import { cursor1EventListeners, cursor2EventListeners } from "../helperFuncs";

	// cursor1EventListeners();
	// cursor2EventListeners();
</script>

<Layout title="Elijah Oyerinde • Software Engineer">
	<PreLoader />
	<div class="MainWrap">
		<Sidebar />

		<!-- Sections -->

		<!-- Home -->
		<Home />
		<!--    -->

		<!-- Work -->
		<Work />
		<!--    -->

		<!-- MoreMe -->
		<MoreMe />
		<!--    -->

		<!-- Contact -->
		<Contact />
		<!--    -->
	</div>
</Layout>

<style lang="scss">
	@import "../styles/variables";

	.MainWrap {
		position: relative;
		background-color: $main-dark;
	}

	.HomePage {
		width: 100%;
		// height: 100vh;

		/*  */

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&__imgBackground {
			background: url(/images/nightcafe-studio-elijah.jpg) no-repeat;
			background-size: cover;
			background-position: 70%;
			opacity: 50%;
		}

		&__rest {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;

			font-family: "Tajawal", Arial, sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 24px;
			line-height: 28px;
			color: white;
			padding-right: 220px;
			padding-bottom: 150px;
			padding-left: 60px;
		}
	}
</style>
