---
import Layout from "../layouts/Layout.astro";

const scenarioList = [
	"You are assembling a team of creative developers, engineers and designers for your next great idea.",
	"Your web application is plagued with performance issues and requires a fresh set of eyes, preferrably from an expert who has worked on large scale applications.",
	"Your engineering team is looking for a senior engineer to help with code reviews, testing, architecture and mentoring.",
	"Your next project requires an iOS engineer. (coming soon)",
];
---

<Layout title="Elijah Oyerinde • Software Engineer">
	<div class="AboutPage">
		<h1>what do I offer?</h1>
		<p class="AboutPage__desc">
			Say you loved this experience, and wanted to know if I'm the right person
			for your project or vision. I'll outline a few scenarios and hopefully, we
			can gain clarity.
		</p>

		<ul>
			{
				scenarioList.map((scenarioItem, ind) => (
					<li
						class={`scenarioItem scenarioItem--${ind === 3 ? "upcoming" : ""}`}
					>
						{scenarioItem}
					</li>
				))
			}
		</ul>

		<p>This is by no means an exhaustive list.</p>
		<p>
			You love my work, are critical of it, would love to collaborate with me in
			some other capacity, need my help, or would simply love to connect or say
			hello,
		</p>
		<p>feel free to reach out:</p>
		<h3>
			<a
				href="mailto:hello@elijahthis.com"
				target="_blank"
				rel="noreferrer noopener">hello@elijahthis.com</a
			>
		</h3>
	</div>
</Layout>

<style lang="scss">
	@import "../styles/variables";

	.AboutPage {
		background-color: $main-dark;
		color: $main_light;

		min-height: 100vh;
		padding: $horizontal-padding;

		h1 {
			font-family: "Unbounded", Arial, sans-serif;
			font-weight: 900;
			font-size: 9.7vw;
			line-height: 9.7vw;
			text-align: left;

			color: rgba($main_light, 0.5);
			margin-bottom: 2rem;
		}

		&__desc {
			font-size: 2.5rem;
			line-height: 3.5rem;
			margin-bottom: 4rem;
			// margin-bottom: 2rem;
		}

		ul {
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 2rem;
			margin-bottom: 3rem;

			.scenarioItem {
				width: 80%;
				color: #fdfcfa;

				&--upcoming {
					color: $sec-light;
					opacity: 0.5;
				}
			}
		}

		h3 {
			text-align: center;
			font-size: 4.5rem;
			line-height: 4.5rem;

			margin-top: 6rem;

			a {
				color: $main_light;
				// color: $tertiary_col;
				text-decoration: none;
				position: relative;
				transition: all ease-in-out 0.5s;

				// pseudo element for underline
				&::after {
					content: "";
					display: block;
					width: 0;
					height: 2px;
					background: $tertiary_col;
					transition: width ease-in-out 0.5s;

					position: absolute;
					bottom: 0;
					left: 0;
				}

				&:hover {
					color: $tertiary_col;
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background: $tertiary_col;
						transition: width ease-in-out 0.5s;
					}
				}
			}
		}
	}
</style>
