---
import FunLink from "../components/FunLink.astro";
import MidLoader from "../components/MidLoader.astro";
import Layout from "../layouts/Layout.astro";

const scenarioList = [
	"You are assembling a team of creative developers, engineers and designers for your next great idea.",
	"Your web application is plagued with performance issues and requires a fresh set of eyes, preferrably from an expert who has worked on large scale applications.",
	"Your engineering team is looking for a senior engineer to help with code reviews, testing, architecture and mentoring.",
	"You need to optimize your website or web application for SEO and accessibility.",
	"Your next project requires an iOS engineer. (coming soon)",
];
---

<Layout title="My Offer">
	<MidLoader />
	<div class="AboutPage">
		<div class="AboutPage__header">
			<FunLink href="/" target="_self">home</FunLink>
		</div>

		<h1>what do I offer?</h1>
		<p class="AboutPage__desc">
			Now I have your attention, how do you know if I'm the right person for
			your project or vision? I'll outline a few scenarios and hopefully, we can
			gain clarity:
		</p>

		<ul>
			{
				scenarioList.map((scenarioItem, ind) => (
					<li
						class={`scenarioItem scenarioItem--${ind === 4 ? "upcoming" : ""}`}
					>
						{scenarioItem}
					</li>
				))
			}
		</ul>

		<p class="smallTxt">This is by no means an exhaustive list.</p>
		<p class="smallTxt">
			You love my work, are critical of it, would love to collaborate with me in
			some other capacity, need my help, or would simply love to connect or say
			hello,<br /> feel free to reach out:
		</p>
		<p class="AboutPage__email">
			<a
				href="mailto:hello@elijahthis.com"
				target="_blank"
				rel="noreferrer noopener">hello@elijahthis.com</a
			>
		</p>
	</div>
</Layout>

<style lang="scss">
	@import "../styles/variables";

	.AboutPage {
		background-color: $main-dark;
		color: $main_light;

		min-height: 100vh;
		padding: $horizontal-padding;
		padding-top: 0;

		&__header {
			display: flex;
			justify-content: flex-end;
			padding: 1.5rem 0;
			margin-bottom: calc($horizontal-padding - 68.5px);
			// display: none;
		}

		&__desc {
			font-size: 2.5rem;
			line-height: 3.5rem;
			margin-bottom: 4rem;
			color: $sec_light;
			opacity: 0.5;
		}

		h1 {
			font-family: "Unbounded", Arial, sans-serif;
			font-weight: 900;
			font-size: 9.7vw;
			line-height: 9.7vw;
			text-align: left;

			color: rgba($main_light, 0.5);
			margin-bottom: 3rem;
		}

		ul {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2rem;
			margin-bottom: 3rem;

			.scenarioItem {
				// width: 80%;
				color: $main_light;

				font-size: 2rem;
				line-height: 2.5rem;

				&--upcoming {
					color: $sec_light;
					opacity: 0.5;
				}
			}
		}

		.smallTxt {
			margin-bottom: 0.5rem;
		}

		&__email {
			text-align: center;
			font-size: 4.5rem;
			line-height: 4.5rem;
			font-weight: 700;

			margin-top: 6rem;

			a {
				color: $sec_light;
				// color: $main_light;
				// color: $tertiary_col;
				text-decoration: none;
				position: relative;
				transition: all ease-in-out 0.5s;

				// pseudo element for underline
				&::after {
					content: "";
					display: block;
					width: 0;
					height: 2px;
					background: $tertiary_col;
					transition: width ease-in-out 0.5s;

					position: absolute;
					bottom: 0;
					left: 0;
				}

				&:hover {
					color: $tertiary_col;
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background: $tertiary_col;
						transition: width ease-in-out 0.5s;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.AboutPage {
			padding: $horizontal-padding-mobile;

			&__header {
				padding-top: 0;
				margin-bottom: calc($horizontal-padding - 68.5px);
				// display: none;
			}

			h1 {
				font-size: 3rem;
				line-height: 3.2rem;

				margin-bottom: 3rem;
			}

			&__desc {
				font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 1rem;
			}

			ul {
				gap: 1.5rem;
				margin-bottom: 3rem;

				.scenarioItem {
					font-size: 1.2rem;
					line-height: 1.8rem;
				}
			}
			.smallTxt {
				font-size: 1rem;
			}

			h3 {
				font-size: 2rem;
				line-height: 3rem;

				margin-top: 4rem;
			}
		}
	}
</style>
