---
export interface Props {
	label: string;
	url: string;
	ind: number;
}

const { label, url, ind } = Astro.props;
---

<a
	class={`ContactCarouselItem ContactCarouselItem--${
		ind % 2 === 0 ? "even" : "odd"
	}`}
	href={url}
	target="_blank"
	rel="noreferrer noopener"
>
	<h1>
		{
			Array(8)
				.fill(0)
				.map((item: 0) => (
					<>
						<>
							<span>{label}</span>
							<span> &middot; </span>
						</>
					</>
				))
		}
	</h1>
	<div class="ContactCarouselItem__topLine"></div>
	<!-- <div class="ContactCarouselItem__bottomLine"></div> -->
</a>

<style lang="scss">
	@import "../styles/variables";

	.ContactCarouselItem {
		// border-top: 1px solid rgba($sec_light, 0.5);
		// border-bottom: 1px solid rgba($sec_light, 0.5);
		display: block;
		width: 100%;
		overflow-x: hidden;
		cursor: none;
		text-decoration: none;

		position: relative;
		height: 258px;

		&--odd h1 {
			right: 0;
		}
		&--even h1 {
			left: 0;
		}

		h1 {
			// text-transform: uppercase;

			font-family: "Nexa-Heavy";
			font-style: normal;
			font-weight: 900;
			font-size: 170px;
			line-height: 258px;
			color: rgba($sec_light, 0.5);
			user-select: none;
			// text-align: center;

			transition: color 0.5s, -webkit-text-stroke-color 0.35s;

			display: flex;
			width: max-content;

			position: absolute;
			top: 0;
			-webkit-text-stroke-width: 0.8px;
			-webkit-text-stroke-color: rgba($sec_light, 0.5);

			&:hover {
				// color: $tertiary_col;
				color: $main-dark;
				-webkit-text-stroke-color: $tertiary_col;
				// transform: unset !important;
			}
		}

		&__topLine {
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 1px;

			border-top: 1px solid rgba($sec_light, 0.5);
			border-bottom: 1px solid rgba($sec_light, 0.5);
		}
	}
</style>
