---
export interface Props {}
---

<div class="Cursor2"></div>

<script>
	import { isSafari } from "../helperFuncs";

	const cursor = document.querySelector(".Cursor2");

	if (!isSafari()) {
		document.addEventListener("mouseover", (e) => {
			console.log(e);
			cursor.setAttribute(
				"style",
				`transform: translate3d(calc(${e.clientX}px - 50%), calc(${e.clientY}px - 50%), 0)`
			);
		});

		document.addEventListener("mousemove", (e) => {
			cursor.setAttribute(
				"style",
				`transform: translate3d(calc(${e.clientX}px - 50%), calc(${e.clientY}px - 50%), 0);`
			);
		});
	} else {
		cursor.setAttribute("style", "display: none;");
	}
</script>

<style lang="scss">
	@keyframes cursorAnimation {
		from {
			scale: 1;
		}
		to {
			scale: 1.2;
		}
	}

	.Cursor2 {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid #98767c;
		mix-blend-mode: exclusion;
		// mix-blend-mode: difference;

		position: fixed;
		top: 0;

		display: grid;
		place-items: center;
		transition: all 0.05s ease-out;
		// animation: cursorAnimation 5s infinite alternate;
		pointer-events: none;
		// display: none;
		z-index: 5000;

		transform-origin: 0%;
	}
</style>
