---
const { imageURL } = Astro.props;
---

<script></script>

<div class="ImagePreview">
	<img src={imageURL} alt="" />
	<div>
		<!-- <img src="" alt="" /> -->
	</div>
</div>

<style lang="scss">
	.ImagePreview {
        
	}
</style>
