---
const images = [
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%201%20-%20casablanca",
	"https://i.scdn.co/image/ab67616d0000b273ef257882db8c9f4b078afc98",
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%202%20-%20a%20few%20good%20men",
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%203%20-%20breaking%20bad",
	"https://i.scdn.co/image/ab67616d0000b27347cfffa8f1d84c57d613c714",
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%204%20-%20there%20will%20be%20blood",
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%205%20-%20spirited%20away",
	"https://i.scdn.co/image/ab67616d0000b2736ca5c90113b30c3c43ffb8f4",
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%206%20-%20House%20of%20the%20Dragon",
	"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/film%207%20-%20The%20Godfather",
];
---

<script>
	import gsap, { Power4 } from "gsap";
	const imageCursor = document.querySelector(".Cursor > .ImageCursor");
	const imageNodes = document.querySelectorAll(".ImageCursor > img");
	let visibleImage = 0;
	let imageInterval;

	// start carousel only when mouse enters .MoreMePage
	document.querySelector(".MoreMePage").addEventListener("mouseenter", (e) => {
		imageNodes[visibleImage].setAttribute("style", "width: 400px");

		imageInterval = setInterval(() => {
			const prevInd = visibleImage;
			// visibleImage = Math.ceil(Math.random() * 11 - 1);
			visibleImage = (prevInd + 1) % imageNodes.length;

			const tl = gsap.timeline();

			tl.to(imageNodes[prevInd], {
				width: 0,
				duration: 0.25,
				ease: Power4.easeOut,
			})
				.to(
					imageCursor,
					{
						width: 0,
						duration: 0.25,
						ease: Power4.easeOut,
					},
					"<"
				)
				.to(imageCursor, {
					width: "400px",
					duration: 0.25,
					ease: Power4.easeOut,
				})
				.to(
					imageNodes[visibleImage],
					{
						width: "400px",
						duration: 0.75,
						ease: Power4.easeOut,
					},
					"<"
				);
		}, 5000);
	});

	// hover animation carousel
	document.querySelector(".MoreMePage").addEventListener("mouseover", (e) => {
		// make cursor slower, as we're using a larger image cursor.
		document.querySelector(".Cursor").classList.add("Cursor--slower");

		gsap.to(imageCursor, {
			// transform: `translate3d(calc(${xPosn}px - 50%), calc(${yPosn}px - 50%), 0)`,
			width: "400px",
			duration: 0.5,
			// ease: Power4.easeOut,
		});
	});

	document.querySelector(".MoreMePage").addEventListener("mouseleave", (e) => {
		// make cursor faster again.
		document.querySelector(".Cursor").classList.remove("Cursor--slower");

		gsap.to(imageCursor, {
			width: 0,
			duration: 0.5,
			// ease: Power4.easeOut,
		});

		// stop carousel when mouse leaves .MoreMePage
		clearInterval(imageInterval);
	});

	// tilt cursor on mouse move
	let rotating = false;

	document
		.querySelector(".MoreMePage")
		.addEventListener("mousemove", (e: MouseEvent) => {
			console.log("mousemove", e.movementY);
			if (Math.abs(e.movementX) > 30 && !rotating) {
				rotating = true;
				const tl = gsap.timeline();
				tl.to(imageCursor, {
					transform: `rotate(${
						(e.movementX / window.innerWidth) * 180
					}deg) translateX(-50%) translateY(-50%)`,
					duration: 0.2,
				})
					.to(imageCursor, {
						transform: `rotate(0deg) translateX(-50%) translateY(-50%)`,
						duration: 0.2,
					})
					.then(() => {
						rotating = false;
					});
			}
		});
</script>

<div class="ImageCursor">
	{
		images.map((item: string, ind: number) => (
			<img src={item} alt={`my interest ${ind + 1}`} />
		))
	}
</div>

<style lang="scss">
	@import "../styles/variables";

	.ImageCursor {
		width: 0;
		height: 400px;
		overflow: hidden;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transform-origin: center;
		background-color: $sec-light;
		display: flex;
		flex-direction: row;

		img {
			width: 0;
			height: 600px;
			object-fit: cover;
			// transform: translateY(-7%);
		}
	}
</style>
