---
---

<script>
	import { gsap, Power4 } from "gsap";
	import { CustomEase } from "../gsap/CustomEase";
	import { myShutter } from "../helperFuncs";
	gsap.registerPlugin(CustomEase);

	CustomEase.create("my_shutter", myShutter);

	const quotes = [
		{
			quote: "In the end, what is a brilliant idea without ruthless execution?",
			author: "Elijah",
		},
		{ quote: "That is some beautiful, beautiful music", author: "Elijah" },
		{ quote: "Sakaaaaaaaaaaaaaaaa", author: "Elijah" },
		{ quote: "Show me", author: "Elijah" },
		{
			quote:
				"The confidence that I have in my taste, and my ability to express what I feel...",
			author: "Rick Rubin",
		},
	];

	let quote = document.querySelector(".MidLoader .quote");
	let author = document.querySelector(".MidLoader .author");
	quote.innerHTML = `"${
		quotes[Math.floor(Math.random() * quotes.length)].quote
	}"`;
	author.innerHTML = `- ${
		quotes[Math.floor(Math.random() * quotes.length)].author
	}`;

	let tl = gsap.timeline();
	tl.fromTo(
		".MidLoader p",
		{ opacity: 0, yPercent: 100 },
		{
			delay: 0.75,
			duration: 0.75,
			opacity: 1,
			yPercent: 0,
			stagger: 0.15,
			ease: Power4.easeInOut,
		}
	)
		.to(".MidLoader p", {
			delay: 2,
			duration: 0.75,
			opacity: 0,
			yPercent: -100,
		})
		.to(
			".MidLoader",
			{
				duration: 2.5,
				height: 0,
				// skewX: 10,
				ease: "my_shutter",
				// perspective on the x axis to make it 3d
				// transformPerspective: 1000,
			},
			"<"
		);
</script>

<main class="MidLoader">
	<div>
		<div class="overflowWrap"><p class="quote">Sakaaaaaaaaaaaaaaaa</p></div>
		<div class="overflowWrap"><p class="author">- Elijah</p></div>
	</div>
</main>

<style lang="scss">
	@import "../styles/variables";
	.MidLoader {
		width: 100vw;
		height: 100vh;
		background: $sec_light;
		color: $main_dark;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 4000;

		display: grid;
		place-items: center;
		padding: 0 1.5rem;

		& > div {
			text-align: center;

			.overflowWrap {
				overflow: hidden;

				p {
					opacity: 0;
				}
			}
		}
	}
</style>
