---
import Cursor from "./Cursor.astro";
import Cursor2 from "./Cursor2.astro";

export interface Props {
	loading: boolean;
}

const { loading } = Astro.props;
let bigText = "simple";
---

<script>
	// imports
	import SplitType from "split-type";
	import gsap from "gsap";

	// change time
	const timeEl = document.querySelector(".bottomDiv__time");
	setInterval(() => {
		timeEl.innerHTML = new Date().toLocaleTimeString();
	}, 1000);

	let mySplitText: any;
	let count = 0;
	const textList = ["hello.", "stranger.", "..."];

	const textAnimation = () => {
		const textEl = document.querySelector(".split");
		console.log("textEl.textContent", textEl.textContent);

		// GSAP Text
		mySplitText = new SplitType(".split", { types: "chars" });
		console.log("textEl.textContent", textEl.textContent);
		console.log("mySplitText", mySplitText);
		const chars = mySplitText.chars;

		gsap.from(chars, {
			yPercent: 150,
			stagger: 0.05,
			ease: "back.out",
			delay: 0,
			duration: 0.75,

			onComplete: () => {
				console.log("comp");
				gsap.to(chars, {
					yPercent: 150,
					stagger: 0.01,
					ease: "back.out",
					delay: 0,
					duration: 0.5,
				});
				mySplitText.revert();
			},
		});
	};

	function nextText() {
		console.log("count", count);

		if (count <= textList.length - 1) {
			const textEl = document.querySelector(".split");
			textEl.innerHTML = textList[count];

			textAnimation();
		}

		if (count < textList.length) {
			count++;
		}
	}

	// Start the animation with the first element in the array
	nextText();
	// Schedule the next animation to start after 3 seconds
	let myInterval = setInterval(nextText, 1500);

	if (count >= textList.length - 1) {
		clearInterval(myInterval);
	}
</script>

<main class="PreLoader">
	<div class="SplitWrap">
		<h1 class="split">.</h1>
		<!-- <p>Welcome to Elijah's trophy room.</p> -->
	</div>
	<div class="bottomDiv">
		<!-- <p>elijah oyerinde</p> -->
		<!-- <p class="bottomDiv__time">{new Date().toLocaleTimeString()}</p> -->
	</div>
</main>

<style lang="scss">
	.PreLoader {
		height: 100vh;
		width: 100vw;
		background: #f0e9d2;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		z-index: 1200;

		.SplitWrap {
			// border: 1px solid black;
			margin-bottom: 2rem;
			overflow: hidden;
		}

		.split {
			font-weight: 900;
			font-size: 170px;
			color: #181d31;
			text-align: center;
		}

		p {
			font-size: 36px;
			line-height: 55px;
			color: #181d31;
		}

		.bottomDiv {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;
			justify-content: space-between;
			padding: 60px;
		}
	}
</style>
