---
import PageLayout from "../../layouts/PageLayout.astro";
import myPicture from "../assets/images/nightcafe-studio-elijah.jpg";
---

<!-- <script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	const { innerHeight } = window;

	gsap.registerPlugin(ScrollTrigger);

	const tl = gsap.timeline({
		scrollTrigger: {
			trigger: "body",
			pin: true,
			end: `+=${innerHeight * 1.3}`,
			scrub: 1,
		},
	});

	tl.from(
		".HomePage",
		{
			// opacity: 0,
			// position: "relative",
			// display: "block",
			// placeItems: "center",
			stagger: 0.25,
			duration: 2,
		},
		0
	);

	tl.from(
		".HomePage__imgBackground",
		{
			// opacity: 0,
			// position: "relative",
			display: "none",
			stagger: 0.25,
			duration: 1,
		},
		0
	);

	tl.to(
		".HomePage__rest p",
		{
			yPercent: -400,
			opacity: 0,
			stagger: 0.25,
			duration: 3,
		},
		0
	);

	// gsap
	// 	.timeline({
	// 		scrollTrigger: {
	// 			trigger: "body",
	// 			pin: true,
	// 			end: `+=${innerHeight * 1.3}`,
	// 			scrub: 1,
	// 		},
	// 	})
	// 	.from(".HomePage", {
	// 		// opacity: 0.1,
	// 		gridTemplateColumns: "unset",
	// 		stagger: 0.25,
	// 		duration: 3,
	// 	});

	// .to(".HomePage__rest p", {
	// 	yPercent: -400,
	// 	opacity: 0,
	// 	stagger: 0.25,
	// 	duration: 3,
	// })
	// .to(".HomePage__rest p", {
	// 	yPercent: -100,
	// 	opacity: 0.8,
	// 	stagger: 0.25,
	// 	duration: 3,
	// });
</script> -->
<PageLayout title={"work."}>
	<div class="HomePage">
		<div class="HomePage__imgBackground"></div>
		<div class="HomePage__rest">
			<p>I'm a software engineer, focused on creating</p>
			<p>visually compelling products for the web. Lots</p>
			<p>of people get bored at this point. That's</p>
			<p>alright. Just remember that I build stuff.</p>
		</div>
	</div>
</PageLayout>

<style lang="scss">
	.HomePage {
		width: 100%;
		// height: 200vh;

		/*  */

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&__imgBackground {
			background: url(/images/nightcafe-studio-elijah.jpg) no-repeat;
			background-size: cover;
			background-position: 70%;
			opacity: 50%;
		}

		&__rest {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;

			font-family: "Tajawal";
			font-style: normal;
			font-weight: 300;
			font-size: 24px;
			line-height: 28px;
			color: white;
			padding-right: 220px;
			padding-bottom: 150px;
			padding-left: 60px;

			p {
				// overflow: hidden;
			}
		}
	}
</style>
