---
import { BsFillArrowDownCircleFill } from "react-icons/bs/index.js";
// import me from '../'
const titleList = [
	"WEB ENGINEER",
	"SOFTWARE ARCHITECT",
	"WEB PERFORMACE SPECIALIST",
	"PROBLEM SOLVER",
	"OPEN SOURCE COLLABORATOR",
	"UKE FIDDLER",
];
---

<script>
	import gsap from "gsap";
</script>

<main class="HomeIntroWrap">
	<div class="HomeIntro">
		<!-- View 01 -->
		<div class="HomeIntro__top">
			<div class="HomeIntro__top__inner">
				<div>
					{
						titleList.map((title) => (
							<>
								<span>{title}</span>
								<span>•</span>
							</>
						))
					}
				</div>
				<div>
					{
						titleList.map((title) => (
							<>
								<span>{title}</span>
								<span>•</span>
							</>
						))
					}
				</div>
			</div>
		</div>
		<div class="HomeIntro__bigHeader">
			<h1>
				<span>elijah</span>
			</h1>
			<!-- <br /> -->
			<h1>
				<span>oyerinde</span>
			</h1>
		</div>
		<div class="HomeIntro__bottom">
			<div class="scrollLink">
				<p>scroll</p>
				<BsFillArrowDownCircleFill />
			</div>
			<div class="rightDesc">
				<p>
					I’m a software engineer that works with other talented people to build
					cool things. I love when they’re beautiful. Bonus points if they work
					seamlessly.
				</p>
			</div>
		</div>
	</div>
</main>

<style lang="scss">
	@import "../../styles/variables";

	$left-padding: 100px;

	.HomeIntroWrap {
		height: 100vh;
		background-color: $main_dark;
	}

	.HomeIntro {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100vh;
		position: relative;

		&__bigHeader {
			margin: auto 0;
			padding: 0 $left-padding;

			& > :first-child {
				color: $tertiary_col;
				// color: transparent;
				// -webkit-text-stroke: 1px $tertiary-col;
			}

			& > :last-child {
				margin-top: -15px;
			}

			h1 {
				font-family: "Nexa-Heavy";
				font-style: normal;
				font-weight: 900;
				font-size: 170px;
				line-height: 170px;
				color: rgba($main_light, 0.5);

				height: 185px;
				overflow-y: hidden;
				// background-color: green;

				span {
					display: inline-block;
				}
			}
		}

		&__top {
			padding: 1.5rem 0;
			margin: 0 $left-padding;

			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 200px);
			overflow: hidden;

			&__inner {
				display: flex;
				flex-direction: row;
				align-items: center;
				// gap: 1.5rem;
				width: max-content;
				// margin-right: 1.5rem;

				& > div {
				}

				span {
					// color: rgba($main-light, 0.5);
					color: $sec-light;
					width: max-content;
					margin-right: 1.5rem;
				}
			}
		}

		&__bottom {
			position: absolute;
			bottom: 0;
			left: 0;

			display: flex;
			flex-direction: row;
			align-items: flex-end;
			gap: 1rem;
			justify-content: space-between;
			width: 100%;

			color: $main_light;

			padding: 0 $left-padding 18px $left-padding;
			font-family: "Nexa Bold";

			.scrollLink {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1rem;
				cursor: pointer;
				// font-family: "Nexa-Heavy";
				font-family: "Nexa Regular";
				font-size: 1rem;
				line-height: 1rem;

				p {
					margin-top: 3px;
				}
			}

			.rightDesc {
				// text-align: right;
				width: calc(33vw - $left-padding);
				overflow: hidden;
			}
		}

		&__view2 {
			position: absolute;
			height: 0;
			overflow-y: hidden;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
			width: 100%;
			// flex-direction: row;
			// align-items: center;
			// padding-left: 61px;

			&__imgWrap {
				height: 100%;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				&__cover {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $main_dark;
				}

				img {
					height: 110%;
					// width: 150%;
					// margin: auto 0;
				}
			}

			p {
				color: $main_light;
				max-width: 368px;
				// opacity: 0;
				margin: auto 0;
			}
		}
	}
</style>
