---
import { BsFillArrowDownCircleFill } from "react-icons/bs/index.js";
import FunLink from "../../components/FunLink.astro";

const titleList = [
	"WEB ENGINEER",
	"SOFTWARE ARCHITECT",
	"WEB PERFORMACE SPECIALIST",
	"iOS ENGINEER",
	// "PROBLEM SOLVER",
	"OPEN SOURCE COLLABORATOR",
	"UKE FIDDLER",
];
---

<main class="HomeIntroWrap">
	<div class="HomeIntro">
		<!-- View 01 -->
		<div class="HomeIntro__topWrap">
			<div class="HomeIntro__top">
				<div class="HomeIntro__top__inner">
					<div>
						<div>
							{
								titleList.map((title) => (
									<>
										<span>{title}</span>
										<span>•</span>
									</>
								))
							}
						</div>
					</div>
					<div>
						<div>
							{
								titleList.map((title) => (
									<>
										<span>{title}</span>
										<span>•</span>
									</>
								))
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="HomeIntro__bigHeader">
			<h1>
				<span>elijah</span>
			</h1>
			<!-- <br /> -->
			<h1 style="margin-top: -2%;">
				<span>oyerinde</span>
			</h1>
		</div>
		<div class="HomeIntro__bottom">
			<div class="rightDesc">
				<p>I’m a software engineer that collaborates with other</p>
				<p>uber-talented creatives and select open-minded</p>
				<p>brands to craft beautiful things.</p>
				<p>
					<FunLink href="/my-offer">What do I offer?</FunLink>
					<!-- <a href="/my-offer" class="rightDesc__link"></a> -->
				</p>
			</div>
			<div
				class="scrollLink"
				onclick="window.scrollBy(0, window.innerHeight * 2);"
			>
				<p>scroll</p>
				<BsFillArrowDownCircleFill />
			</div>
		</div>
	</div>
</main>

<style lang="scss">
	@import "../../styles/variables";

	$left-padding: 100px;
	$left-padding-mobile: 1.25rem;

	.HomeIntroWrap {
		height: 100vh;
		background-color: $main_dark;
	}

	.HomeIntro {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100vh;
		position: relative;

		&__bigHeader {
			margin: auto 0;
			padding: 0 $left-padding;
			// height: 38vh;

			& > :first-child {
				color: $tertiary_col;
				// color: transparent;
				// -webkit-text-stroke: 1px $tertiary-col;
			}

			& > :last-child {
				margin-top: -15px;
			}

			h1 {
				font-family: "Unbounded", Arial, sans-serif;
				font-style: normal;
				font-weight: 900;
				// font-size: 170px;
				// line-height: 170px;
				// height: 185px;
				font-size: 10vw;
				color: rgba($main_light, 0.5);

				overflow-x: hidden;
				overflow-y: visible;
				// background-color: green;

				span {
					display: inline-block;
				}
			}
		}

		&__topWrap {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			// border-bottom: 1px solid rgba($sec_light, 0.2);

			&::after {
				// draw white line under the header
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: rgba($sec_light, 0.2);
			}
		}

		&__top {
			padding: 1.5rem 0;
			margin: 0 $left-padding;
			width: calc(100vw - $left-padding * 2);
			overflow-x: hidden;

			&__inner {
				display: flex;
				flex-direction: row;
				align-items: center;
				// gap: 1.5rem;
				width: max-content;
				// margin-right: 1.5rem;

				span {
					// color: rgba($main-light, 0.5);
					color: $sec-light;
					width: max-content;
					margin-right: 1.5rem;
				}
			}
		}

		&__bottom {
			position: absolute;
			bottom: 0;
			left: 0;

			display: flex;
			flex-direction: row;
			align-items: flex-end;
			gap: 1rem;
			justify-content: space-between;
			width: 100%;

			color: $main_light;

			padding: 0 $left-padding 18px $left-padding;
			font-family: "Outfit", Arial, sans-serif;

			.scrollLink {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1rem;
				cursor: pointer;
				font-family: "Outfit", Arial, sans-serif;
				font-size: 1rem;
				line-height: 1rem;
				overflow: hidden;

				p {
					margin-top: 3px;
				}
			}

			.rightDesc {
				// text-align: right;
				// width: calc(33vw - $left-padding);
				overflow: hidden;
			}
		}

		&__view2 {
			position: absolute;
			height: 0;
			overflow-y: hidden;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
			width: 100%;
			// flex-direction: row;
			// align-items: center;
			// padding-left: 61px;

			&__imgWrap {
				height: 100%;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				&__cover {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $main_dark;
				}

				img {
					height: 110%;
					// width: 150%;
					// margin: auto 0;
				}
			}

			p {
				color: $main_light;
				max-width: 368px;
				// opacity: 0;
				margin: auto 0;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.HomeIntro {
			// cursor: default;
			&__bigHeader {
				padding: 0 $left-padding-mobile;

				h1 {
					// font-size: clamp(68px, 19vw, 170px);
					// line-height: clamp(68px, 19vw, 170px);
					// height: clamp(80px, 22vw, 186px);
					height: clamp(50px, 16vw, 160px);
					font-size: clamp(50px, 14vw, 150px);
					line-height: clamp(50px, 14vw, 150px);
				}
			}

			&__top {
				padding: 1.5rem 0;
				margin: 0 $left-padding-mobile;
				width: calc(100vw - $left-padding-mobile * 2);

				font-size: 0.75rem;
				line-height: 1.3;

				&__inner {
					span {
						margin-right: 0.75rem;
					}
				}
			}

			&__bottom {
				padding: 0 $left-padding-mobile 18px $left-padding-mobile;

				display: flex;
				flex-direction: column;
				align-items: stretch;
				gap: 1rem;
				justify-content: unset;

				.scrollLink {
					display: none;
				}

				.rightDesc {
					// overflow: hidden;
					font-size: 14px;
					line-height: 1.3;
				}
			}
		}
	}
</style>

<style is:global>
	.lineClass {
		display: none;
		min-width: max-content;
		/* overflow-x: visible; */
	}
</style>
