---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PageLayout from "../layouts/PageLayout.astro";
import ContactCarouselItem from "../components/ContactCarouselItem.astro";

const contactList: { label: string; url: string }[] = [
	{ label: "TWITTER", url: "https://twitter.com/elijahthis" },
	{ label: "GITHUB", url: "https://github.com/elijahthis" },
	{
		label: "LINKEDIN",
		url: "https://www.linkedin.com/in/elijah-oyerinde-070a24215/",
	},
	{ label: "hello@elijahthis.com", url: "mailto:hello@elijahthis.com" },
];
---

<script>
	const carouselItems = document.querySelectorAll(
		".ContactCarouselItem > h1"
	) as NodeListOf<HTMLElement>;

	const isPaused = new Array(carouselItems.length).fill(false);
	const startValues = new Array(carouselItems.length).fill(undefined); // generatew an array to persist start values
	const progressValues = new Array(carouselItems.length).fill(undefined); // generatew an array to persist progress values

	carouselItems.forEach((cItem, index) => {
		cItem.addEventListener("mouseenter", (e) => {
			isPaused[index] = true;
		});
		cItem.addEventListener("mouseleave", (e) => {
			isPaused[index] = false;
		});
	});

	const moveAnimation = (timestamp: number) => {
		let progress;

		carouselItems.forEach((cItem, index) => {
			if (startValues[index] === undefined) startValues[index] = timestamp;

			if (!isPaused[index]) {
				if (progressValues[index]) {
					startValues[index] = timestamp - progressValues[index] * 200;

					progressValues[index] = undefined;
				}

				if ((timestamp - startValues[index]) / 200 > 50)
					startValues[index] = timestamp;
				else progress = (timestamp - startValues[index]) / 200;

				cItem.style.transform = `translateX(${
					index % 2 === 0 ? -25 - progress : progress - 75
				}%)`;
			} else {
				if (!progressValues[index]) progressValues[index] = progress;
			}
		});

		requestAnimationFrame(moveAnimation);

		console.log("progressValues", progressValues);
		console.log("startValues", startValues);
	};

	requestAnimationFrame(moveAnimation);
</script>

<PageLayout title="contact.">
	<div class="contactBody">
		{
			contactList.map((contactItem) => (
				<ContactCarouselItem label={contactItem.label} url={contactItem.url} />
			))
		}
	</div>
</PageLayout>

<style lang="scss">
	.contactBody {
		width: 100%;
		overflow-y: auto;
		// padding-right: 170px;
	}
</style>
