---
const { title, className } = Astro.props;
---

<main class={`IntroLayout ${className}`}>
	<!-- <slot /> -->
	<h1><slot /></h1>
</main>

<style lang="scss">
	@import "../styles/variables";

	.IntroLayout {
		height: 100vh;
		background-color: $main_dark;
		display: flex;

		padding: 0 100px;

		// position: absolute;
		// top: 100%;

		h1 {
			font-weight: 900;
			font-size: 9.7vw;
			line-height: 9.7vw;

			text-align: center;
			color: rgba($main_light, 0.5);

			width: 100%;
			margin: auto 0;
			font-family: "Unbounded";

			// -webkit-text-stroke-width: 0.8px;
			// -webkit-text-stroke-color: $main_light;
			-webkit-text-stroke-width: 0;
			-webkit-text-stroke-color: transparent;
		}
	}

	@media screen and (max-width: 768px) {
		.IntroLayout {
			height: 100vh;

			padding: 0 1.5rem;

			// position: absolute;
			// top: 100%;

			h1 {
				font-weight: 900;
				font-size: clamp(68px, 19vw, 170px);
				line-height: clamp(68px, 19vw, 170px);
			}
		}
	}
</style>
