---
import { SEO } from "astro-seo";
import Cursor from "../components/Cursor.astro";
import Cursor2 from "../components/Cursor2.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<SEO
			title={title}
			description="A software engineer that collaborates with other uber-talented creatives and select open-minded brands to craft beautiful things."
			openGraph={{
				basic: {
					title: "Elijah Oyerinde • Software Engineer",
					type: "website",
					url: "https://www.elijahthis.com",
					image:
						"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/seo-img",
				},
				optional: {
					description:
						"A software engineer that collaborates with other uber-talented creatives and select open-minded brands to craft beautiful things.",
					// locale: "en_US",
					siteName: "Elijah Oyerinde • Software Engineer",
				},
			}}
			twitter={{
				card: "summary_large_image",
				site: "@elijahthis",
				creator: "@elijahthis",
				title: "Elijah Oyerinde • Software Engineer",
				description:
					"A software engineer that collaborates with other uber-talented creatives and select open-minded brands to craft beautiful things.",

				image:
					"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/seo-img",
			}}
			extend={{
				// extending the default meta tags
				meta: [
					{
						name: "twitter:url",
						content:
							"https://res.cloudinary.com/dywp91yx7/image/upload/f_auto,q_auto/v1/folio-v2/seo-img",
					},
				],
			}}
		/>
		<meta name="generator" content={Astro.generator} />

		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-TG43445F");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<div id="smooth-wrapper">
			<div id="smooth-content myPinnedWrapper">
				<slot />
			</div>
		</div>
		<Cursor />
		<Cursor2 />

		<script src="../animations/timeline-animations.ts"></script>
		<script>
			function agentHas(keyword) {
				return (
					navigator.userAgent.toLowerCase().search(keyword.toLowerCase()) > -1
				);
			}

			function isSafari() {
				return (
					(!!window.ApplePaySetupFeature || !!window.safari) &&
					agentHas("Safari") &&
					!agentHas("Chrome") &&
					!agentHas("CriOS")
				);
			}

			// hide custom cursor if the user is using Safari. Cos Safari is annoying.
			if (!isSafari()) {
				console.log("document", document);
				document.body.setAttribute("style", "cursor: none;");
			}
		</script>

		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TG43445F"
				height="0"
				width="0"
				style="display:none;visibility:hidden"
			>
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<style is:global lang="scss">
			@import "../styles/variables";

			html {
				font-family: "Outfit", Arial, sans-serif;
				background-color: #ffffff;
				// cursor: none;

				body {
				}
			}

			*::selection {
				color: $tertiary_col;
				background-color: #ffffff;
			}

			* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
			}

			.imgTile {
				position: absolute;
				top: 10px;
				left: 10px;
				width: 300px;
				opacity: 0;
				transform: translateX(-50%) translateY(-50%);
			}
		</style>
	</body>
</html>
