---
export interface Props {
	title: string | Element;
	className: string;
}

const { title, className } = Astro.props;
---

<main class={`PageLayout ${className}}`}>
	<slot />
</main>

<style lang="scss">
	@import "../styles/variables";

	.PageLayout {
		min-height: 100vh;
		background-color: $main_dark;
		position: relative;
		display: flex;
	}
</style>
